@charset "UTF-8";
@font-face {
  font-family: "myFont";
  src: url("/assets/fonts/futur.ttf");
}
@font-face {
  font-family: "myFont2";
  src: url("/assets/fonts/unicode.futurab.ttf");
}
@font-face {
  font-family: "titulo";
  src: url("/assets/fonts/MailartRubberstamp-Regular.otf");
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes floatAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #1f2a56;
  /* background-color: black; */
  margin-right: 80px;
  margin-left: 80px;
}

a {
  text-decoration: none;
}

.show {
  display: block;
}

.navbar {
  margin: 20px 50px 20px 50px;
}
.navbar .logo-amarillo {
  width: 80px;
}
.navbar img:nth-child(2) {
  height: 66px;
  width: 344px;
  padding-left: 150px;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-container .menu-responsive {
  display: none;
}
.navbar .navbar-container .link {
  gap: 10px;
  margin-top: 12px;
  display: flex;
}
.navbar .navbar-container .link a {
  color: rgb(241, 230, 0);
  transition: 0.3s;
}
.navbar .navbar-container .link a:hover {
  color: #ff6347;
  animation: fadeIn 0.5s ease-out;
}

.titulo {
  font-family: "titulo";
}

.dqvv {
  color: #ff6347;
  animation: fadeIn 8s ease-out;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #B0A4A4;
}
.welcome img {
  animation: fadeIn 4s ease-out;
}
.welcome h1 {
  position: absolute;
  bottom: 80px;
  animation: fadeIn 4s ease-out;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  color: rgba(237, 229, 0, 0.6039215686);
}
.welcome h2 {
  bottom: 46px;
  position: absolute;
  animation: fadeIn 4s ease-out;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  color: rgba(237, 229, 0, 0.6039215686);
}
.welcome p {
  text-align: center;
  font-size: larger;
  position: absolute;
  bottom: -10px;
  animation: fadeIn 4s ease-out;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  color: rgba(237, 229, 0, 0.6039215686);
}

.podcast {
  margin-top: 200px;
}
.podcast h2 {
  text-align: center;
  color: #ff6347;
  animation: fadeIn 4s ease-out;
}
.podcast .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.podcast .logos p {
  font-size: 25px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  color: rgba(237, 229, 0, 0.6039215686);
  animation: fadeIn 4s ease-out;
}
.podcast .logos .white-logo {
  height: 150px;
  animation: floatAnimation 3s ease-in-out infinite;
}
.podcast .right {
  transform: scaleX(-1);
}

.episodios {
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.episodios h3 {
  color: rgba(237, 229, 0, 0.6039215686);
}
.episodios .episodios-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  grid-template-rows: repeat(2, 1fr); /* 2 filas de igual tamaño */
  gap: 30px;
  /* align-items: center; */
  /* justify-items: center; */
  /* align-content: center */
  place-content: center;
}
.episodios .episodios-container .left-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: solid 3px rgba(237, 229, 0, 0.6039215686);
  border-radius: 20px;
  width: 500px;
  text-align: center;
}
.episodios .episodios-container .left-container p {
  color: white;
  /* font-family: 'myFont2'; */
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  padding-right: 10px;
  padding-left: 10px;
}
.episodios .episodios-container .left-container .titulo-episodio {
  color: #f2e700;
}
.episodios .episodios-container .right-container {
  display: flex;
  align-items: center;
  justify-content: end;
}
.episodios .episodios-container .right-container img {
  border-radius: 20px;
}

.integrantes {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integrantes .integrante-card {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
}
.integrantes .integrante-card .integrante {
  border: solid 3px #f2e700;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
}
.integrantes .integrante-card .integrante p {
  margin-left: 20px;
}
.integrantes .integrante-card .integrante .data {
  /* font-family: 'myFont2'; */
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 20px;
  justify-content: space-around;
}
.integrantes .integrante-card .integrante .data a {
  text-decoration: none;
  top: 15px;
  position: relative;
}
.integrantes .integrante-card .photo {
  height: 370px;
  width: 300px;
  filter: grayscale(100%);
}
.integrantes .integrante-card .photo img {
  object-fit: fill;
}

.contacto {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h2 {
  text-align: center;
}
.contacto .formulario-contacto .control-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.contacto .formulario-contacto .control-formulario label {
  margin-top: 15px;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
}
.contacto .formulario-contacto input {
  width: 457px;
  height: 30px;
  border-radius: 6px;
  background-color: #1f2a56;
  border-color: #f2e700;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
}
.contacto .formulario-contacto .submit-btn {
  margin-top: 20px;
  width: 464px;
  cursor: pointer;
  height: 40px;
}
.contacto .formulario-contacto .submit-btn:hover {
  /*             background-color: #f2e700;
              color: #ff6347; */
  background-color: #ff6347;
  color: #f2e700;
  animation: fadeIn 1s ease-out;
}
.contacto .formulario-contacto textarea {
  background-color: #1f2a56;
  border-color: #f2e700;
  color: white;
  text-shadow: 1px 1px 1px rgba(128, 128, 126, 0.6039215686);
  border-radius: 6px;
}

footer {
  text-align: center;
  margin-top: 50px;
  color: #f2e700;
}
footer .redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 54px;
  height: 180px;
  justify-content: center;
  border-radius: 20px;
  position: fixed;
  left: 10px;
  top: 360px;
}
footer .redes-sociales img {
  height: 30px;
}
footer .redes-sociales img:hover {
  background-color: #ff6347;
  border-radius: 4px;
  transition: 0.3s;
}

@media screen and (max-width: 720px) {
  .navbar .navbar-container {
    position: fixed;
  }
  .navbar .navbar-container .logo-amarillo {
    position: absolute;
    right: 50px;
  }
  .navbar .navbar-container .link {
    display: none;
  }
  .navbar .navbar-container .menu-responsive {
    display: flex;
    height: 44px;
    position: relative;
    top: 16px;
    left: 480px;
  }
  .welcome img {
    top: 150px;
    position: relative;
    width: 620px;
  }
  .welcome h1 {
    position: relative;
    top: 50px;
  }
  .welcome h2 {
    position: relative;
    top: 30px;
  }
  .podcast .logos .left, .podcast .logos .right {
    height: 100px;
    position: relative;
    top: 250px;
  }
  .episodios .episodios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .episodios .episodios-container .left-container {
    border: none;
  }
  .integrantes .integrante-card {
    display: flex;
    flex-direction: column;
  }
  .integrantes .integrante-card .integrante {
    height: 400px;
  }
  .integrantes .integrante-card .integrante img {
    height: 300px;
  }
  .integrantes .integrante-card .integrante .data .ig-logo {
    height: 24px;
    width: 24px;
  }
}
@media screen and (max-width: 530px) {
  .navbar .navbar-container .menu-responsive {
    left: 290px;
  }
  .navbar .navbar-container .logo-amarillo {
    width: 40px;
    right: 100px;
  }
  .welcome img {
    width: 450px;
  }
  .welcome .titulo {
    text-align: center;
  }
  .welcome h2 {
    text-align: center;
  }
}
.podcast {
  position: relative;
  top: 150px;
}
.podcast .logos .white-logo {
  height: 40px;
  position: relative;
  top: 400px;
}

.episodios .episodios-container .left-container {
  width: 300px;
}

/* .contacto {
    .formulario-contacto-contenedor {
        width: 100%;  // Ajusta el ancho al 100% del contenedor
        padding: 0 20px;  // Ajusta el relleno según sea necesario
    }

    .formulario-contacto {
        width: 60%;  // Ajusta el ancho al 100%
        padding: 20px;  // Ajusta el relleno según sea necesario
        box-sizing: border-box;  // Incluye el relleno y el borde en el ancho total
    }
} */
.footer .redes-sociales {
  width: 10px;
}/*# sourceMappingURL=style.css.map */