/* @font-face{
    font-family: 'myFont';
    src: url('./assets/fonts/futur.ttf');
} */

@font-face {
    font-family: 'myFont2';
    src: url('./assets/fonts/unicode.futurab.ttf');
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
    padding: 0;
    margin: 0;
    /* background-color: #1f2a56; */
    background-color: black;
}
a{
    text-decoration: none;
}

.navbar{
    margin: 20px 50px 20px 50px;

    .logo-amarillo{
        width: 80px;
    }
    img:nth-child(2){
        height: 66px;
        width: 344px;
        padding-left: 150px;
    }
    .navbar-container{
        display: flex;
        justify-content: space-evenly;
        .link{
            gap: 10px;
            margin-top: 12px;
            display: flex;
            
            a{
                color: rgb(241 230 0);
                font-family: 'myFont2';
            }
        }
    }
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #B0A4A4;
    img{
        animation: fadeIn 8s ease-out;
    }
    
    h1{
        position: absolute;
        bottom: 80px;
        animation: fadeIn 4s ease-out;
        text-shadow: 1px 1px 1px #80807e9a;
        color: #ede5009a;
        font-family: 'myFont2';
    }
    h2{
        bottom: 46px;
        position: absolute; 
        animation: fadeIn 4s ease-out;
        text-shadow: 1px 1px 1px #80807e9a;
        color: #ede5009a;
    }
    p{
        text-align: center;
        font-size: larger;
        position: absolute;
        bottom: -10px;
        animation: fadeIn 4s ease-out;
        text-shadow: 1px 1px 1px #80807e9a;
        color: #ede5009a;
    }
}

.podcast{
    h2{
        text-align: center;
        color: #ff6347;
        animation: fadeIn 4s ease-out;
    }
    .logos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        p{
            
            font-size: 25px;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 20px;
            text-shadow: 1px 1px 1px #80807e9a;
            color: #ede5009a;
            animation: fadeIn 4s ease-out;
            
        }


        .white-logo{
            height: 150px;
        }
    }
    .right{
        transform: scaleX(-1);
    }
}

.integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    .integrante-card{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        .photo{
            height: 370px;
            width: 300px;
            filter: grayscale(100%);
            border: solid 2px #B0A4A4;
            border-radius: 20px;
            img{
                object-fit: fill;
                
            }
        }
    }
}